# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SLEEKY_LEFT

config ZMK_KEYBOARD_NAME
    default "Sleeky"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SLEEKY_LEFT || SHIELD_SLEEKY_RIGHT

config ZMK_SPLIT
    default y

endif
